SUPABASE_URL=https://SUA_URL_DO_SUPABASE.supabase.co
SUPABASE_ANON_KEY=SUA_ANON_KEY_DO_SUPABASE
BRAPI_TOKEN=SUA_CHAVE_API_BRAPI
SUPABASE_SERVICE_ROLE_KEY=SUA_SERVICE_ROLE_KEY_DO_SUPABASE
GIOVANNY_PASSWORD=SENHA_FORTE_DO_GIOVANNY
RAFAELA_PASSWORD=SENHA_FORTE_DA_RAFAELA
